body{
    height:auto;
    left:0; top:0;
    bottom:150px;
    background-color: #F5F5DC;
}
#header{
    left:0 ;
    top:0 ;
    padding: 10px ;
    width:100% ;
}
#content,#contentShow,#contentShowHalf,#contentShowHalfEdit{
    position: absolute;
    top: 58px;
    width: 100%;
    bottom: -30px;
    padding: 10px;
    overflow: auto;
    display: block;
/*   border: 2px solid #000;*/
    margin-bottom: 200px;
    background-color: #F5F5DC;
}
#contentShowHalf,#contentShowHalfEdit {
    margin-bottom:120px ;
    padding: 8px;

 }
#contentShowHalfEdit{
    top:0 ;
}
#contentShow {
    margin-bottom:20px ;
}

#rightPanel {
    display: block;
    position: relative;
    float: right;
    width: 250px ;
    min-width: 150px;
    background-color: #F5F5DC;;
}
#footer,#footerHalf,#footerHalfEdit {
    position: fixed; /* Фиксированное положение */
    height:150px ;
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    border-right: 4px solid grey;

    color: black; /* Цвет текста */
    width: 98%; /* Ширина слоя */
    display: block;
    /* border:4px solid darkolivegreen ;*/
}
#footerHalf,#footerHalfEdit {
    height:70px ;
}
#contentShowHalf,#footerHalf {
    width: 70% ;
    min-width:500px ;
}
#footerHalfEdit{
    width:100% ;
}
a.menu,.rightMenu{
    font-size:20px;
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color:#000 ;
}
.rightMenu {
    font-size:0.7em ;
}

a.menu:hover,.rightMenu:hover {
    font-style:italic;
}
#footer,#footerHalf,#footerHalfEdit,#topMenu{
    background-color: #bdbdbd; /*#cccc99;*/
}
.programText{
    background-color:beige;
    color:blue
}